@import '_mixins';
  .about {
    h1 {
      font-size: 22px;
      @include inline-block;
    }
    ul.social {
      @include inline-block;
      list-style: none;
      padding-left: 10px;
      li {
        display: initial;
        margin-right: 6px;
        i {
          font-size: 18px;
          color: #555;
          &:hover {
            color: #222;
          }
          &.fa-douban:after {
            content: '豆';
          }
        }
      }
    }
  }
