@import 'normalize';
@import 'bootstrap.min';

@import 'githubstyle';
@import 'github';
@import 'line-numbers';
@import 'article';
@import 'index';
@import 'apps';
@import 'about';
@import 'tag';

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

.main-content {
  margin: 100px auto;
}
.navbar-header, .nav {
  .rss {
    a {
      padding: 9px 15px;  
    }
  }
  .navbar-brand {
    height: auto;
    img {
      @include border-radius(50%);
      @include square(60px);
    }
    span {
      margin-left: 10px;
    }

  }
}
.navbar-collapse {
  padding-top: 20px;
  &.in {
    padding-top: 0;
  }
}
.navbar-toggle {
  margin-top: 30px;
}

.date-articles {
  li {
    list-style: none;
    line-height: 250%;
    .date {
      margin-right: 10px;
    }
  }
}

@media (max-width: 767px) { 
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-content {
    margin: 70px auto;
  }
  .navbar-header {
    .navbar-brand {
      padding: 8px 15px;
      img {
        @include square(40px);
      }
    }
    .navbar-toggle {
      margin-top: 12px;
    }
  }
  .tags-container {
    margin-bottom: 5px;
  }
  .nav li.apps-menu {
    display: none;
  }
}

