@import 'normalize';

@import 'bootstrap';
@import 'github';
@import 'line-numbers';
@import 'site';
@import 'article';
@import 'categories';
@import 'apps';
@import 'about';

[class*="span"] {
  margin-left: 0; }

.container{
  &.main-content {
    margin: 100px auto;
  }

  .brand {
    height: 60px;
    img {
      @include border-radius(50%);
    }
    span {
      margin-left: 10px;
      line-height: 60px;
    }
  }
  .nav {
    margin: 20px auto;
  }
  .tag{
    font-size: 12px;
    list-style: none;
    @include inline-block;
    background: #aaa;
    padding: 5px;
    letter-spacing: 1px;
    a {
      color: white;
    }
  }
  &.tags {
    .tag-title {
      font-size: 16px;
      color: white;
      margin-left: 20px;
      margin-top: 20px;
    }
  }
}

