@import '_mixins';
.article-container {
  padding: 20px 40px;
  p {
    margin-right: 0;
  }
  h1 {
    text-align: center;
    margin-top: 0;
    font-size: 34px;
  }
  .more-info{
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #aaa;
    .date {
      line-height: 22px;
    }
    .tags-container {
      padding-left: 10px;
      border-left: 1px solid #aaa;
      margin: 0 0 0 10px;
      line-height: 20px;
      .tag {
        padding: 2px;
      }
    }
  }
  .right-col{
    li{
      list-style: square;
    }
    .about-detail {
      padding-left: 25px;
    }
  }
  .blog-content {
    blockquote p {
      font-size: 14px;
    }
  }
}