@import '_mixins';
.article-container {
  .highlight {
    margin: 10px 0;
  }
  p {
    margin-right: 0;
    font-size: 16px;
    line-height: 150%;
  }
  h1 {
    text-align: center;
    margin-top: 0;
    font-size: 26px;
    padding: 10px 15px;
  }
  .article-info {
    line-height: 150%;
    .date {
      margin-right: 5px;
    }
    .tags-container {
      margin-bottom: 0;
      padding-left: 0;
      @include inline-block;
      .tag{
        font-size: 12px;
        list-style: none;
        @include inline-block;
        background: #aaa;
        padding: 5px;
        letter-spacing: 1px;
        a {
          color: white;
        }
      }  
    }

  }

  .blog-content {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    blockquote p {
      font-size: 14px;
    }
    pre {
      background-color: transparent;
      white-space: pre-wrap;
      word-break: break-word;
      word-wrap: break-word;
    }
    a, code {
      word-break: break-all;
      word-wrap: break-all;
    }
  }
}

@media (max-width: 767px) { 
  .jiathis_style_24x24 {
    display: none;
  }
}