@import '_mixins';
.article-container {
  padding: 20px 40px;
  p {
    margin-right: 0;
  }
  h2 {
    text-align: center;
    margin-top: 0;
  }
  .more-info{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    .date {
      line-height: 30px;
      border-right: 1px solid #aaa;
      padding-right: 10px;
    }
    .tags-container {
      margin: 0 0 0 10px;
      line-height: 30px;
      .tag {
        padding: 2px;
      }
    }
  }
  .right-col{
    // margin-left: 90px;
    li{
      list-style: none;
    }
    .about-detail {
      padding-left: 25px;
    }
  }
}