.index {
  padding-top: 10px;
  &:first-child {
    padding-top: 0;
  }
  & + .index {
    border-top: 1px solid #ccc;
  }
  .year {
    text-align: right;
    padding-right: 40px;
    margin: 0;
    line-height: 160%;
  }
}

@media (max-width: 767px) { 
  .index .year {
    text-align: left;
  }
}
