@import '_mixins';

.blog-line{
  margin: 40px auto;
  .blog-item{
    position: relative;
    @include border-radius(5px);
    @include box-shadow(0 0 20px #ccc);
    .title-area{
      h3 {
        margin: 9px auto;
        line-height: 110%;
      }
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      a{
        color: black;
      }
      .category {
        @include opacity(0.7);
        a {
          font-weight: bold;
        }
      }
    }
    .content-area{
      border-bottom: 1px solid #ccc;
      line-height: 150%;
      margin-bottom: 15px;
    }
    .tag-area{
      ul{
        margin: 0;
      }
      .continue-reading {
        float: right;
      }
    }
    padding: 20px;
    &.right-column {
      margin-left: 0;
    }
    &.left-column {
      margin-left: 20px;
    }
    .arrow-left{
      position: absolute;
      left: -12px;
      top: 107px;
      @include square(24px);
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
      border-right: 0px solid white;
      @include box-shadow(4px 4px 10px #eee);
      @include rotate(135deg);
      @include inline-block;
      background-color: white;
    }
    .arrow-right{
      position: absolute;
      right: -12px;
      top: 30px;
      @include square(24px);
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 0px solid white;
      @include box-shadow(-4px -4px 10px #eee);
      @include rotate(135deg);
      @include inline-block;
      background-color: white;
    }
    .timeline-point{
      position: absolute;
      background-color: black;
      @include border-radius(50%);
      @include square(56px);
      color: white;
      font-size: 16px;
      text-align: center;
      .publish-date{
        @include inline-block;
        margin-top: 7px;
      }
      &.left{
        top: 10px;
        right:-83px;
      }
      &.right{
        top:90px;
        left: -83px;
      }
    }
  }
}

#main{
  background: url('../images/timeline-bg.png') center top repeat-y;
  .highlight .main-content {
    pre{
      line-height: 100%;
    }
  }
  .right-column {
    margin-right: 20px;
  }
  .tag{
    font-size: 12px;
    list-style: none;
    @include inline-block;
    background: #aaa;
    padding: 5px;
    letter-spacing: 1px;
    a {
      color: white;
    }
  }
  &.tags {
    .tag-title {
      font-size: 16px;
      color: white;
      margin-left: 20px;
      margin-top: 20px;
    }
  }
}