.main-content {
  margin-top: 50px;
}

.blog-item {
  h3 {
    margin: 0 auto;
    line-height: 110%;
  }
  margin: 40px auto;
}
.footer {
  height: 100px;
  background-color: #d95b43;
  color: white;
}