<ol class='col-xs-12 col-sm-7 date-articles'>
  <% articles.each do |article| %>
    <li class='clearfix'>
      <span class='date'><%= article.date.strftime(date_format) %></span>
      <span class='title'><%= link_to article.title, article %></span>
    </li>
  <% end %>      
</ol>