<% content_for :head do %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<% end %>

<% content_for :title, "关于我" %>
<% content_for :navs do %>
  <li><a href="/index.html">所有文章</a></li>
  <li class='apps-menu'><a href="/apps.html">小程序们</a></li>
  <li class='active'><a href="/about.html">关于我</a></li>
  <li class='rss'><a href="/feed.xml"><img src="images/rss.png" alt=""></a></li>
<% end %>

<div class="row about">
  <div class="col-xs-12">
    <h1>姜 鹏</h1>
    <ul class="social">
      <li><a href="https://github.com/warmwind"><i class="fa fa-github-square"></i></a></li>
      <li><a href="http://www.douban.com/people/1794545/"><i class="fa fa-douban"></i></a></li>
      <li><a href="mailto:pengj0520@gmail.com"><i class="fa fa-envelope"></i></a></li>
      <li><a href="http://weibo.com/u/1675778455"><i class="fa fa-weibo"></i></a></li>
    </ul>
  </div>
  
  <p class="col-xs-12">Senior Developer@ThoughtWorks，<a href="https://jinshuju.net" target="_blank"> 金数据</a> 核心开发人员，<a href="http://book.douban.com/subject/25827296" target="_blank">《软件开发与创新》</a>译者之一，敏捷开发实践者</p>
</div>