<% content_for :head do %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<% end %>

<% content_for :title, "关于我" %>
<% content_for :navs do %>
  <li><a href="/index.html">所有文章</a></li>
  <li class='apps-menu'><a href="/apps.html">小程序们</a></li>
  <li class='active'><a href="/about.html">关于我</a></li>
  <li class='rss'><a href="/feed.xml"><img src="images/rss.png" alt=""></a></li>
<% end %>

<div class="row about">
  <div class="col-xs-12">
    <h1>姜鹏（Oscar Jiang）</h1>
    <ul class="social">
      <li><a href="https://github.com/warmwind"><i class="fa fa-github-square"></i> Github</a></li>
      <li><a href="https://jinshuju.net" target="_blank"> 金数据</a></li>
    </ul>
  </div>
</div>
