<% content_for :title, "关于我" %>
<% content_for :navs do %>
  <li><a href="/index.html">近期文章</a></li>
  <li><a href="/categories.html">所有文章</a></li>
  <li><a href="/apps.html">小程序们</a></li>
  <li class='active'><a href="/about.html">关于我</a></li>
  <li class='rss'><a href="/feed.xml"><img src="images/rss.png" alt=""></a></li>
<% end %>

<div class="about">
  <div class="rows clearfix">
    <div class="span3">
      <div class="pull-right"><%= gravatar_tag 'pengj0520@gmail.com', :size => 200%></div>
    </div>
    <div class="span1"></div>
    <div class="span7 details">
      <h2>姜鹏</h2>
      <p>Application Developer@ThoughtWorks，敏捷开发实践者</p>
      <h3>我爱好的</h3>
      <ul>
        <li>Ruby On Rails</li>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>JAVA</li>
      </ul>
      <h3>我的社交</h3>
      <ul>
        <li>
          <img src="images/weibo.png" alt="">
          <a href="http://weibo.com/u/1675778455">warmwindj</a>
          <span class='add-weibo'>          
            <wb:follow-button uid="1675778455" type="red_1" width="67" height="24" ></wb:follow-button>
          </span>
        </li>
        <li><img src="images/douban.png" alt=""><a href="http://www.douban.com/people/1794545/">warmwind</a></li>
      </ul>
      <h3>联系方式</h3>
      <ul>
        <li>Send Email to Me: <a href="mailto:pengj0520@gmail.com">pengj0520@gmail.com</a></li>
      </ul>
    </div>

  </div>

</div>