<% content_for :title, "关于我" %>
<% content_for :navs do %>
  <li><a href="/index.html">近期文章</a></li>
  <li><a href="/categories.html">所有文章</a></li>
  <li><a href="/apps.html">小程序们</a></li>
  <li class='active'><a href="/about.html">关于我</a></li>
<% end %>