<% content_for :title, "小程序们" %>
<% content_for :navs do %>
  <li><a href="/index.html">近期文章</a></li>
  <li><a href="/categories.html">所有文章</a></li>
  <li class='active'><a href="/apps.html">小程序们</a></li>
  <li><a href="/about.html">关于我</a></li>
<% end %>

<div class='apps'>
  <div class="rows clearfix" id="angry_tank">
    <h2>疯狂的坦克</h2>
    <p>使用与疯狂的小鸟相同的物理引擎Box2d. 方向键控制前进后退与炮筒角度，空格键发射子弹.</p>
    <iframe src="apps/angry_tank/angry_tank.html" frameborder="0" width=1250 height=500 class='angry-tank'></iframe>
  </div>
</div>
