<% content_for :title, "小程序们" %>
<% content_for :navs do %>
  <li><a href="/index.html">所有文章</a></li>
  <li class='active'><a href="/apps.html">小程序们</a></li>
  <li><a href="/about.html">关于我</a></li>
  <li class='rss'><a href="/feed.xml"><img src="/images/rss.png" alt=""></a></li>
<% end %>

<div class='apps '>
  <div class="row col-xs-12" id="jinshuju">
    <h3><a href="http://jinshuju.net" target="_blank">金数据</a></h2>
    <p>轻量、好用、快捷的在线表单系统，轻松收集与分享你的数据</p>
  </div>
  <div class="row  col-xs-12" id="angry_tank">
    <h3>疯狂的坦克</h2>
    <p>使用与疯狂的小鸟相同的物理引擎Box2d. 
      <ol>
        <li>单击游戏界面</li>
        <li>方向键控制前进后退与炮筒角度</li>
        <li>空格键发射子弹</li>
      </ol>
    </p>
    <iframe src="apps/angry_tank/angry_tank.html" frameborder="0" width=100% height=350 class='angry-tank'></iframe>
  </div>
  <div class="row  col-xs-12" id="magic_grid">
    <h3>魔力方格</h2>
    <p>在规定的时间内记录方格中人的位置，并且在图像翻转后找出。格子会越来越多，好运吧！</p>
    <iframe src="apps/magic_grid/index.html" frameborder="0" width=800 height=600 class='magic-grid'></iframe>
  </div>
</div>
