<% content_for :navs do %>
  <li><a href="/index.html">近期文章</a></li>
  <li class='active'><a href="/categories.html">所有文章</a></li>
  <li><a href="/about.html">关于我</a></li>
<% end %>
<div class='clearfix'>
  <ol>
    <% blog.articles.group_by{|a| a.date.year}.each do |year, articles| %>
      <h3><%= "#{year} (#{articles.size})" %></h3>
      <% articles.each do |article| %>
      <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e %Y') %></span></li>
      <% end %>      
    <% end %>
  </ol>
</div>
