<% content_for :title, "近期文章" %>

<% content_for :navs do %>
  <li class='active'><a href="/index.html">近期文章</a></li>
  <li><a href="/categories.html">所有文章</a></li>
  <li><a href="/apps.html">小程序们</a></li>
  <li><a href="/about.html">关于我</a></li>
<% end %>

<div id="main" role="main">
  <%= partial(:timeline_articles, locals: {articles: page_articles.first(10)}) %>
</div>