<% content_for :title, "所有文章" %>

<% content_for :navs do %>
  <li class='active'><a href="/index.html">所有文章</a></li>
  <li class='apps-menu'><a href="/apps.html">小程序们</a></li>
  <li><a href="/about.html">关于我</a></li>
  <li class='rss'><a href="/feed.xml"><img src="/images/rss.png" alt=""></a></li>
<% end %>

<% blog.articles.group_by{|a| a.date.year}.each do |year, articles| %>
  <div class="row clearfix index">
    <div class="col-xs-12 col-sm-5"><h3 class='year'><%= "#{year} (#{articles.size})" %></h3></div>
    <%= partial :date_article, locals: {articles: articles, date_format: '%b %d'} %>
  </div>
<% end %>