<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Jiang Peng's World</a>
          <ul class="nav pull-right">
            <li class="active"><a href="index.html">Blog</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container main-content">
    
      <div id="main" role="main">
        <%= yield %>
      </div>
      
    </div>
    <footer class="footer">
      <div class="container">
        footer
      </div>
    </footer>
  </body>
</html>
