<% content_for :navs do %>
  <li><a href="/index.html">近期文章</a></li>
  <li class='active'><a href="/categories.html">所有文章</a></li>
  <li><a href="/apps.html">小程序们</a></li>
  <li><a href="/about.html">关于我</a></li>
  <li class='rss'><a href="/feed.xml"><img src="/images/rss.png" alt=""></a></li>
<% end %>

<div id="main" role="main" class='tags'>
  <div class="rows"><span class="tag tag-title"><%= tagname %></span></div>
  <%= partial(:timeline_articles, locals: {articles: page_articles}) %>
</div>